{% extends './base.html' %}
{% load static %}


{% block title %}
    <div class="container mx-auto px-4 py-2">
        <h1 class="text-3xl my-4">
            StoreEVN | {{product.name}}
        </h1>
    </div>
{% endblock title%}


{% block header %}
    <h1>{{product.name}}</h1>
{% endblock header %}


{% block content %}
    <main>
        <div class="container mx-auto px-4 py-2"> 
            <div class="max-w-[328px] h-[328px]">
                {% if product.image %}
                    <img class="w-full h-full object-cover" src="{{product.image.url}}" alt="{{product.name}}">
                {% else %}
                    <img class="w-full h-full object-cover"
                        src="https://avatars.mds.yandex.net/i?id=c4b399f48c9bfa476826977cbe679582eb527f54-12647631-images-thumbs&n=13"
                        alt="{{product.name}}"
                    >
                {% endif %}
            </div>
            <p>{{product.descr}}</p>
            {% if product.discount %}
                <p>$ {{product.discount_price}}</p>
            {% else %}
                <p>$ {{product.price}}</p>
            {% endif %}

            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                <div>
                    {% csrf_token %}
                    {{cart_product_form}}
                </div>
                <input type="submit" class="block w-fit px-4 py-2 rounded-md mt-4 text-white bg-emerald-800 cursor-pointer" value="Add To Cart">
            </form>
        </div>
    </main>
{% endblock content %}
    